*.pyc
.DS_Store
.coverage
coverage.xml
noxfile.py
src/gaiaxpy/_version.py
tox.ini
query_tests.py
.eggs/
.env/
.env10/
.idea/
.pytest_cache/
.svn/
.nox/
.tox/
__pycache__/
build/
dist/
docs/_build/
GaiaXPy.egg-info/
htmlcov/
junit/
tests_output_files/
